In [1]:
#Type Conversion
#datatype-> another datatype
a = 56.99 #float

In [2]:
b = int(a)

In [3]:
print(b, type(b))

56 <class 'int'>

In [4]:
#int(a), float(a), complex(a), complex(a,b)

In [5]:
complex(a)

(56.99+0j)

In [6]:
b = 10
complex(a,b)

(56.99+10j)

In [7]:
d = "4.0"
print(type(d))

<class 'str'>

In [10]:
d = eval(d)

In [12]:
d, type(d)

(4.0, float)

In [13]:
complex(a,d)

(56.99+4j)

In [14]:
#mathematical

In [15]:
abs(-67)

67

In [16]:
max([2,4,5,1,55])

55

In [17]:
min([2,4,5,1,55])

1

In [18]:
round(59.999, 2)

60.0

In [19]:
#Reading input

In [20]:
a = input("Enter the number")

Enter the number5675.456

In [21]:
print(a)

5675.456

In [22]:
b = eval(a)

In [23]:
print(b, type(b))

5675.456 <class 'float'>

In [24]:
#string formating

In [25]:
a = 1234.5678
n = 9876

In [29]:
print("{:7.2f}".format(a))

1234.57

In [30]:
print("n = {:6d}".format(n))

n =   9876

In [31]:
print("n = {:06d}".format(n))

n = 009876

In [32]:
a

1234.5678

In [33]:
print('{:12.4e} {:06d}'.format(a,n))

  1.2346e+03 009876